{% extends "base.html" %}
{% block title %}POTS Simulator{% endblock %}
{% block body %}
<h1>Plain Old Telephone Service (POTS) Simulator</h1>
<hr>
<form action="" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="infile">Input File</label>
    <input type="file" name="file" id="infile">
  </div>
  <button type="submit" class="btn btn-primary">Process</button>
</form>
<hr>
<h2>Input Requirements</h2>
<ul>
  <li>32 MB maximum file size</li>
</ul>

<h3>WAV</h3>
<ul>
  <li>File must end with <code>.wav</code></li>
  <li>44.1 kHz sample rate (forced)</li>
  <li>Mono/1-channel (forced)</li>
  <li>16-bit (fails otherwise)</li>
</ul>

<h3>Text</h3>
<ul>
  <li>File must end with <code>.txt</code></li>
  <li>One 16-bit integer per line (-32768 to 32767)</li>
</ul>
{% endblock %}
