{% extends "base.html" %}
{% block title %}POTS Simulator{% endblock %}
{% block body %}
<h1>Plain Old Telephone Service (POTS) Simulator</h1>
<p><a href="https://github.com/nicktimko/pots-sim/">Source</a></p>
<hr>
<form action="" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="infile">Input File</label>
    <input type="file" name="file" id="infile">
  </div>
  <button type="submit" class="btn btn-primary">Process</button>
</form>
<hr>
<h2>Input Requirements</h2>
<ul>
  <li>32 MB maximum</li>
</ul>

<h3>WAV</h3>
<ul>
  <li>File must end with <code>.wav</code></li>
  <li>44.1 kHz sample rate (blindly assumed)</li>
  <li>Mono/1-channel</li>
  <li>16-bit linear</li>
</ul>

<h3>Text</h3>
<ul>
  <li>File must end with <code>.txt</code></li>
  <li>One number per line (they will be normalized and quantized to 16-bit)</li>
</ul>

<h3>JSON</h3>
<ul>
  <li><code>POST</code> a 1-D array of numbers to <code>/pots/json</code>.</li>
  <li>Reply is an object with a <code>"data"</code> field which hopefully has what you want.</li>
</ul>

{% endblock %}
